@font-face {
	font-family: 'GmarketSans';
	font-weight: 700;
	font-display: swap;
	src: url('./woff/GmarketSansBold.woff') format('woff');
}

@font-face {
	font-family: 'GmarketSans';
	font-weight: 500;
	font-display: swap;
	src: url('./woff/GmarketSansMedium.woff') format('woff');
}

@font-face {
	font-family: 'GmarketSans';
	font-weight: 300;
	font-display: swap;
	src: url('./woff/GmarketSansLight.woff') format('woff');
}